<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/easion.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="static/js/chart-js-config.js"></script>
    <title>Admin Dashboard</title>
    <style>
    .icon{
        text-align:center;
    }
    </style>
</head>

<body>
    <div class="dash">
        <div class="dash-nav dash-nav-dark">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <a href="{% url 'dashboard'%}" class="easion-logo"><i><img src="/media/gaddhe_Official.png" class="rounded" alt="Goa" width="45" height="45"></i> <span>GADDHE</span></a>
            </header>
            <nav class="dash-nav-list">
                <a href="{% url 'dashboard'%}" class="dash-nav-item">
                    <i class="fas fa-home"></i> Dashboard </a>
                <div class="dash-nav-dropdown">
                    <a href="{% url 'clist'%}" class="dash-nav-item ">
                        <i class="fas fa-chart-bar"></i> Contractor List </a>
                    <div class="dash-nav-dropdown-menu">
                        
                    </div>
                </div>
                <div class="dash-nav-dropdown ">
                    <a href="{% url 'statistics'%}" class="dash-nav-item ">
                        <i class="fas fa-cube"></i> Statistics </a>
                </div>
                <div class="dash-nav-dropdown">
                    <a href="{% url 'about'%}" class="dash-nav-item ">
                        <i class="fas fa-info"></i> About </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="https://github.com/subet/easion" target="_blank" class="dash-nav-dropdown-item">GitHub</a>
                        <a href="https://usebootstrap.com/theme/easion" target="_blank" class="dash-nav-dropdown-item">UseBootstrap</a>
                        <a href="https://mudimedia.com" target="_blank" class="dash-nav-dropdown-item">Mudimedia Software</a>
                    </div>
                </div>
		<div class="dash-nav-dropdown">
                    <a href="http://54.144.129.102/database.php" class="dash-nav-item ">
                        <i class="fas fa-file"></i> Report </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="https://github.com/subet/easion" target="_blank" class="dash-nav-dropdown-item">GitHub</a>
                        <a href="https://usebootstrap.com/theme/easion" target="_blank" class="dash-nav-dropdown-item">UseBootstrap</a>
                        <a href="https://mudimedia.com" target="_blank" class="dash-nav-dropdown-item">Mudimedia Software</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="dash-app">
            <header class="dash-toolbar">
                <!--a href="#!" class="searchbox-toggle">
                    <i class="fas fa-search"></i>
                </a-->
                <h1><b>A</b>dmin <b>D</b>ashboard</h1>
                <!--form class="searchbox" action="#!">
                    <a href="#!" class="searchbox-toggle"> <i class="fas fa-arrow-left"></i> </a>
                    <button type="submit" class="searchbox-submit"> <i class="fas fa-search"></i> </button>
                    <input type="text" class="searchbox-input" placeholder="type to search">
                </form-->
                <div class="tools">
                    <!--a href="#!" class="tools-item">
                        <i class="fas fa-bell"></i>
                        <i class="tools-item-count">4</i>
                    </a-->
                    <div class="dropdown tools-item">
                        <a href="#" class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-filter"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li><a class="dropdown-item" href="{% url 'sort' 3 %}">FILTER BY</a></li>
                            <li><a class="dropdown-item" href="{% url 'sort' 1 %}">Contractor</a></li>
                            <li><a class="dropdown-item" href="{% url 'filter' %}">Status</a></li>
                        </div>
                    </div>
                    <div class="dropdown tools-item">
                        <a href="#" class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <a href="http://vektor.soumit.tech/map.html"><i class="fas fa-map-marker"></i></a>
                        </a>
                    </div>
                    <div class="dropdown tools-item">
                        <a href="#" class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-th-list"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="{% url 'sort' 3 %}">SORT BY</a>
                            <a class="dropdown-item" href="{% url 'sort' 1 %}">LOD</a>
                            <a class="dropdown-item" href="{% url 'sort' 2 %}">DEADLINE</a>
                        </div>
                    </div>
		    <div class="dropdown tools-item">
                        <a href="#" class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-file"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="http://54.144.129.102/database3.php">Reported</a>
                            <a class="dropdown-item" href="http://54.144.129.102/database1.php">Assigned</a>
                            <a class="dropdown-item" href="http://54.144.129.102/database2.php">In progress</a>
                            <a class="dropdown-item" href="http://54.144.129.102/database4.php">Completed</a>
                        </div>
                    </div>
                    <div class="dropdown tools-item">
                        <a href="#" class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="{% url 'newcontract'%}">Add Contractor</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </div>
                </div>
            </header>
            <main class="dash-content">
            <div class="dropdown-menu">
                <option><a href="{% url 'sort' 1 %}">LOD</a></option>
                <option><a href="{% url 'sort' 2 %}">DATE</a></option>
            </select>    
            </div>
                <div class="container-fluid">
                <!--form method="POST">
                    {% csrf_token %}
                From:<input type="date" name="fromdate"/>
                To: <input type="date" name="todate"/>
                <input type="Submit" value="Search"/-->
                    <table border="1" class="table table-striped table-in-card" margin-top:3cm>
                    <tr>
                        <th>ID</th>
                        <th>USER</th>
                        <th>DATE</th>
                        <th>LANDMARK</th>
                        <th>DISTRICT</th>
                        <th>SUGGESTION</th>
                        <th>IMAGE</th>
                        <th>LOD</th>
                        <th>ASSIGN</th>
                        <th>CONTRACTOR</th>
                        <th>STATUS</th>
                        <th>DELETE</th>
                        <th>RATE</th>
                    </tr>
                    {% for getdata in Dashboard %}
                    <form method="POST" action="{% url 'rate' getdata.contr  %}">
                         {% csrf_token %}
                    <tr class="icon">
                        <td>{{getdata.id}}</td>
                        <td>{{getdata.user}}</td>
                        <td>{{getdata.date}}</td>
                        <td>{{getdata.land}}</td>
                        <td>{{getdata.dist}}</td>
                        <td>{{getdata.sug}}</td>
                        <td class="icon"><a href="{{getdata.url}}" target="_blank"><i class="fa fa-download fa-2x"></i></a></td>
                        <td>{{getdata.lod}}</td>
                        <td><a href="{% url 'assignwork' getdata.id %}">PUSH</a>
                            <a href="{% url 'showinterest' %}">SHOW</a>
                        </td>
                        <td>{{getdata.contr}}</td>
                        <td>{{getdata.status}}</td>
                        <td class="icon"><a href="{% url 'delete' getdata.id %}"><i class="fa fa-trash fa-2x"></i></a></tb>
                        <td>
                            <input type="number" placeholder="0" name="rate" min="1" max="5" required>
                            <button class="btn btn-dark" type="submit">RATE</button>
                        </td>
                    </tr>
                    </form>
                    {% endfor %}
                    </table>
                    <!--/form-->
                        
                        
                       
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>